In [ ]:
x = 10
while True:
  if x == 7:
    break
  x -= 1
  print("PIAIC ", x)

PIAIC  9
PIAIC  8
PIAIC  7

# String
1. `'your text here'`
  * `'`start `'`
2. `"your text here"`
3. `'''multiline text here'''`
4. `"""multline text here"""`

In [ ]:
name : str  = 'pakistan zinda bad'

print(type(name))
print(name)

<class 'str'>
pakistan zinda bad

In [ ]:
name : str  = "pakistan zinda bad"

print(type(name))
print(name)

<class 'str'>
pakistan zinda bad

In [ ]:
name : str = "Pakistan zinda bad\nHello world\nWe love our country"

print(type(name))
print(name)

<class 'str'>
Pakistan zinda bad
Hello world
We love our country

In [ ]:
name : str  = '''pakistan zinda bad
Hello world
we love our country'''

print(type(name))
print(name)

<class 'str'>
pakistan zinda bad
Hello world
we love our country

# String concatination
1. `+`
  * type casting required with other datatype
2. `%`
  * required each data type symbols (%s, %d)
3. "".format()
  * place `.format()` at the end of string
  * position/index of variable required
4. `f-string`

In [ ]:
name : str = "Muhammad Qasim"
father_name : str = "Muhammad Aslam"
age : int = 30
education : str = "MS in Data Science"
#                PIAIC student Card\nName Muhammad Qasim\nAge 30
message : str = "PIAIC student Card\nName " + name + "\nAge " + age
print(message)

TypeError: can only concatenate str (not "int") to str

In [ ]:
name : str = "Muhammad Qasim"
father_name : str = "Muhammad Aslam"
age : int = 30
education : str = "MS in Data Science"
#                PIAIC student Card\nName Muhammad Qasim\nAge 30
message : str = "PIAIC student Card\nName " + name + "\nAge " + str(age)
print(message)

PIAIC student Card
Name Muhammad Qasim
Age 30

In [ ]:
name : str = "Muhammad Qasim"
father_name : str = "Muhammad Aslam"
age : int = 30
education : str = "MS in Data Science"

message : str = "PIAIC Student Card\nName: %s\nFather: %s\nAge: %d\nEducation: %s" % (name, father_name, age, education)
print(message)
#

PIAIC Student Card
Name: Muhammad Qasim
Father: Muhammad Aslam
Age: 30
Education: MS in Data Science

In [ ]:
name : str = "Muhammad Qasim"
father_name : str = "Muhammad Aslam"
age : int = 30
education : str = "MS in Data Science"
#                                          0           1        2             3            0     1         2      3
message : str = "PIAIC Student Card\nName: {}\nFather: {}\nAge: {}\nEducation: {}".format(name,father_name,age, education)
print(message)
#

PIAIC Student Card
Name: Muhammad Qasim
Father: Muhammad Aslam
Age: 30
Education: MS in Data Science

In [ ]:
name : str = "Muhammad Qasim"
father_name : str = "Muhammad Aslam"
age : int = 30
education : str = "MS in Data Science"

message : str = "PIAIC Student Card\nName: {}\nFather: {}\nAge: {}\nEducation: {}".format(age, name, father_name, education)
print(message)
#

PIAIC Student Card
Name: 30
Father: Muhammad Qasim
Age: Muhammad Aslam
Education: MS in Data Science

In [ ]:
name : str = "Muhammad Qasim"
father_name : str = "Muhammad Aslam"
age : int = 30
education : str = "MS in Data Science"
#                                                                                              0     1       2             3
message : str = "PIAIC Student Card\nName: {1}\nFather: {2}\nAge: {0}\nEducation: {3}".format(age, name, father_name, education)
print(message)
#

PIAIC Student Card
Name: Muhammad Qasim
Father: Muhammad Aslam
Age: 30
Education: MS in Data Science

# F-string

In [ ]:
name : str = "Muhammad Qasim"
father_name : str = "Muhammad Aslam"
age : int = 30
education : str = "Master in Data Science"

message : str = f"""
PIAIC ISLAMABAD BATCH3
Name : {name}
Father : {father_name}
Age : {age}
Education : {education}
"""
print(message)

PIAIC ISLAMABAD BATCH3
Name : Muhammad Qasim
Father : Muhammad Aslam
Age : 30
Education : Master in Data Science

# Variable
Exampe
`variable_name = variable_value`<br>
`student_name = "Muhammad Qasim"`
1. variable name(student_name)
2. assign operator(=)
3. variable value ("MUhammad Qasim")
4. variable data type
  * str
  * int
  * bool
  * float
  * list
  * tuple
  * set
  * dictionry

In [ ]:
# prompt: write code for get all string methods exclude attributes

string_methods = [method for method in dir(str) if callable(getattr(str, method)) and not method.startswith("__")]
string_methods

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
string_methods = [method for method in dir(int) if callable(getattr(int, method)) and not method.startswith("__")]
string_methods

['as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'from_bytes',
 'to_bytes']

In [ ]:
string_methods = [method for method in dir(list) if callable(getattr(list, method)) and not method.startswith("__")]
string_methods

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
print(11%2)

1

In [ ]:
print(11//2)

5

In [ ]:
2 ** 3

8

In [ ]:
print(2 + 4 - 2 * 2 / 2 % 2 // 2 ** 2)

6.0

# Assign operator

In [ ]:
"Qasim" == "Qasim"

True

In [ ]:
5 == 5

True

In [ ]:
5 > 3

True

In [ ]:
True and True and True

True

In [ ]:
True or True or False

True

In [ ]:
not True

False

In [ ]:
a = "qasim"
b = "qasim"
c = "qasim"

print(a is b)
print(a is c)

True
True

In [ ]:
print(id(a))
print(id(b))
print(id(c))

135344144196144
135344144196144
135344144196144

In [ ]:
print(id(a) == id(b))
print(id(a) == id(c))

True
True

In [ ]:
data = """
Pakistan hello world
Qasim Aslam
"""

'Qasim Aslam' in data

True

In [ ]:
names : list[str] = ["Qasim","Najam","Arif","Asif"]

'Arif' in names

True

In [ ]:
names : list[str] = ["Qasim","Najam","Arif","Asif"]

i = 0
while i < len(names):
  if names[i] ==':
    print(True)
    break
  i += 1

True